/*default*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    font-family: "poppins", sans-serif;
}

/*--------------------*/

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container {
    width: 1250px;
    min-width: 250px;
}

.main .login__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15%;
}

.main .login__details .login__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main .login__details .login__logo img {
    width: 60px;
}

.main .login__details .login__logo h1 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 15px;
}

.main .login__details .login__logo h1::-moz-selection {
    background-color: #ffe900;
    color: #000000;
}

.main .login__details .login__logo h1::selection {
    background-color: #ffe900;
    color: #000000;
}

.main .login__details .login__userDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main .login__details .login__userDetails form .login__info {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main .login__details .login__userDetails form .login__info .login__pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main .login__details .login__userDetails form .login__info label {
    margin-top: 20px;
}

.main .login__details .login__userDetails form .login__info input {
    width: 450px;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #bfbfbf;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 11px 0 0 15px;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.main .login__details .login__userDetails form .login__info input:focus {
    border-bottom: 1px solid #000000;
}

.main .login__details .login__userDetails form .login__info input::-moz-selection {
    background-color: #ffe900;
    color: #000000;
}

.main .login__details .login__userDetails form .login__info input::selection {
    background-color: #ffe900;
    color: #000000;
}

.main .login__details .login__userDetails form .login__info button {
    width: 450px;
    height: 60px;
    border-radius: 5px;
    background-color: #ffe900;
    color: #3e3e3e;
    margin-top: 70px;
    -webkit-box-shadow: 0 10px 19px -10px rgba(170, 161, 13, 0.52);
    box-shadow: 0 10px 19px -10px rgba(170, 161, 13, 0.52);
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main .login__details .login__userDetails form .login__info button:hover {
    background-color: #ffe733;
}

.main .login__details .login__userDetails form .login__info button:focus {
    width: 470px;
    -webkit-box-shadow: 0 10px 20px -4px rgba(170, 161, 13, 0.52);
    box-shadow: 0 10px 20px -4px rgba(170, 161, 13, 0.52);
}